<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>
    AsynchronousAPI
    </servlet-name>  
    <servlet-class>
    AsynchronousAPI    
    </servlet-class>
    <load-on-startup>1</load-on-startup>

  </servlet>
  <servlet-mapping>
      <url-pattern>/asynchronousAPI</url-pattern>
      <servlet-name>AsynchronousAPI</servlet-name>
  </servlet-mapping>

  <servlet>
    <servlet-name>
    ReceivedRequests
    </servlet-name>  
    <servlet-class>
    ReceivedRequests  
    </servlet-class>
    
  </servlet>
  <servlet-mapping>
    <url-pattern>/receivedRequests</url-pattern>
    <servlet-name>ReceivedRequests</servlet-name>
  </servlet-mapping>
</web-app>
